@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300;400;700&display=swap');

:root {
    --color-secondary: #A8D1F1;
    --color-primario: #233979;
    --color-terciario: #EB5B5D;
    --color-detalles: #F4B5D3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-primario);
}

.container-navbar {
    display: flex;
    margin: 0 auto;
}

img {
    width: 6rem;
    
}

.title-index {
    text-align: center;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 700;
    color: #fff;
    padding-top: 5%;
}

p {
    text-align: center;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #fff;
}

.container-button {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 10%;
}



/* CSS */
.button-49,
.button-49:after {
    width: 150px;
    height: 76px;
    line-height: 78px;
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
    background: linear-gradient(45deg, transparent 5%, #EB5B5D  5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    box-shadow: 6px 0px 0px #00E6F6;
    outline: transparent;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-49:after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    
    content: 'ALTERNATE TEXT';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #e95153 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0);
}

.button-49:hover:after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
}

@keyframes glitch {
    0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
}
    10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
}
    20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
}
    30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
}
    40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
}
    50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
}
    60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
}
    70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
}
    80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
}
    90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
}
    100% {
    clip-path: var(--slice-1);
    transform: translate(0);
    }
}

@media (min-width: 768px) {
.button-49,
.button-49:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
    }
}

/* CSS . CREARPERFIL-P*/

.div-form {
    text-align: center;
    max-width: 700px; 
    margin: 0 auto; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

form {
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
input[type="tel"],
input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

select#wallet {
    display: block;
    margin: 0 auto;
    width: 450px; 
    height: 40px; 
    font-size: 16px; 
}